form {
  legend,
  .form-type-select label,
  .form-type-textarea label,
  .form-type-textfield label,
  .form-type-number label,
  .form-type-datelist label,
  .form-type-date label,
  .form-type-email label{
    font-size: $font-size-base;
    font-weight: $weight-semi;
  }

  .form-control,
  .custom-select {
    border-color: $colour-classic-green !important;
    outline-color: $colour-classic-green;
  }

  .form-control:focus,
  .custom-select:focus {
    border-color: $colour-theme !important;
    outline-color: $colour-theme;
  }

  h2 {
    color: $colour-classic-green;
  }

  .form-control,
  .custom-select {
    font-family: $font-family-base;
  }

  .custom-control-label {
    padding-left: .5rem;

    &::before,
    &::after {
      height: $form-check-size;
      width: $form-check-size;
      border-color: $colour-navy;
    }
  }

  .custom-checkbox .custom-control-label {
    &::before,
    &::after {
      border-radius: 0;
    }
  }

  .form-radio.custom-control-input:checked~.custom-control-label {
    font-weight: $weight-semi;

    &::before,
    &::after {
      background-color: $colour-classic-blue;
      border-color: $colour-classic-blue;
      border-radius: 50%;
    }
  }

  .custom-checkbox {
    padding-bottom: .5rem;
  }

  .form-checkbox.custom-control-input:checked~.custom-control-label {
    font-weight: $weight-semi;

    &::before,
    &::after {
      background-color: $colour-classic-blue;
    }
  }

  .field-required {
    font-size: $h4-font-size;
    color: $colour-red;
    margin-left: .25rem;
  }

  #edit-actions {
    display: flex;

    input {
      padding: 0.375rem 3rem;
      margin-right: 1rem;
    }

    #edit-reset {
      @extend .btn-light;
    }
  }

  .form-row>fieldset {
    position: relative;
    width: 50%;

    .form-select {
      @extend .form-control;
    }
  }

  .ui-datepicker-trigger {
    width: 20px;
    position: absolute;
    right: 10px;
    top: 40px;
  }
}
