body {
  &.manual-design {
    @include theme-colour($colour-design);
  }

  &.manual-patent {
    @include theme-colour($colour-patent);
  }

  &.manual-trademark {
    @include theme-colour($colour-trademark);
  }

  &.manual-pbr {
    @include theme-colour($colour-pbr);
  }

  &.manual-home,
  &.path-frontpage {
    #footer {
      margin-top: 3rem;
      padding-top: 2rem;
      border-top: 1px solid $colour-grey;

      .disclaimer {
        display: none;
      }
    }
    
  }
}

#page {
  > #header {
    display: none;
  }
}

.views-element-container {
  margin-right: -15px;
}

#block-ipam-breadcrumbs {
  @extend .row;
}

.view-patent-manual-of-practice-and-procedure {
  margin-bottom: 5rem;
  padding-top: 3rem;

  .view-footer {
    margin-top: 3rem;
  }
  
  .view-header {
    position: relative;

    h1 {
      font-size: $h3-font-size-sm;
      color: $colour-classic-green;
      margin-top: 3rem;
      text-align: center;
    }
  }

  .help-link {
    position: absolute;
    right: 0;
    top: -3rem;
    color: $colour-theme;

    &:hover {
      color: $colour-classic-green;
    }
  }

  .view-footer {
    p {
      font-size: $small-font-size;
    }
  }
}

table {
  font-size: $font-size-base;

  thead {
    border-bottom: none;

    tr {
      border-bottom: none;
      background-color: $colour-bright-green;
    }

    th {
      border: none;
    }
  }

  tr {
    background: transparent;

    &:nth-child(even) {
      background: $colour-light-grey;
    }

    th {
      background: transparent;
      color: $colour-black;
      padding: 1rem .5rem;
    }

    td {
      border: none;
      padding: 1rem .5rem;
    }

    td, th {
      padding: 5px 1%;
      vertical-align: top;
      text-align: left;
      word-wrap: break-word;
    }
  }
}

.pagination {
  justify-content: center;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 5rem;

  &:after {
    content: '';
    display: block;
    border-bottom: 4px solid $colour-light-grey;
    position: absolute;
    bottom: -1rem;
    width: 70%;
  }

  .page-link {
    border: none;
    font-family: $headings-font-family;
    font-weight: $weight-bold;
    font-size: $small-font-size;
    position: relative;

    &:hover {
      background-color: transparent;

      &:after {
        content: '';
        display: block;
        border-bottom: 4px solid $colour-bright-green;
        position: absolute;
        bottom: -1rem;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .page-item.active {
    .page-link {
      background-color: transparent;
      color: $colour-theme;

      &:after {
        content: '';
        display: block;
        border-bottom: 4px solid $colour-bright-green;
        position: absolute;
        bottom: -1rem;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

}

.flyout-container {
  display: none;
  position: absolute;
  top: 115px;
  right: 0;
  padding: 2rem 4rem;
  background-color: $colour-light-grey;
  width: 700px;
  z-index: 10;

  .close-link {
    position: relative;
    color: $colour-classic-green;
    padding-left: 0.5rem;

    &:before {
      content: '\f057';
      font-family: 'Font Awesome 5 Pro';
      position: absolute;
      left: -1rem;
      font-weight: $weight-light;
    }
  }
}

.view-frontpage {
  .view-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.hp-tile {
  margin-bottom: 2rem;

  a {
    position: relative;
    display: block;
    overflow: hidden;

    h3 {
      position: absolute;
      color: $white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      text-align: center;
    }

    &.design-tile {
      border-bottom: 6px solid $colour-design;
    }

    &.patent-tile {
      border-bottom: 6px solid $colour-patent;
    }

    &.tm-tile {
      border-bottom: 6px solid $colour-trademark;
    }

    &.pbr-tile {
      border-bottom: 6px solid $colour-pbr;
    }

    &:hover {
      img {
        transform: scale($global-img-zoom);
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.field__label {
  font-weight: $weight-bold;
}