#footer {
  background-color: $colour-light-grey;
  position: relative;
  padding: 3rem 0;

  &:after {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100%;
    background-color: $colour-light-grey;
    content: '';
    margin-left: -50vw;
    top: 0;
    left: 50%;
  }

  .block-title {
    font-size: $med-font-size;
    font-family: $headings-font-family;
    font-weight: $weight-normal;
  }

  ul {
    width: 100%;
    flex-direction: row;

    li {
      padding-right: 20px;

      a {
        position: relative;
        font-size: $small-font-size;
        font-family: $font-family-base;
        font-weight: $weight-normal;

        &:after {
          content: '|';
          position: absolute;
          right: -10px;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      &:last-child {
        a {
          &:after {
            content: '';
          }
        }
      }
    }
  }
}