#header {
  background-color: $colour-theme;

  a {
    &:hover {
      opacity: 0.8;
    }
  }

  .site-logo {
    display: flex;
    align-items: center;

    img {
      height: 70px;
      width: auto;
      padding-right: 1rem;
      border-right: 1px solid $white;
    }

    span {
      font-size: $large-font-size;
      color: $white;
      font-weight: $weight-bold;
      margin-left: 1rem;
    }
    
    &:hover {
      span {
        text-decoration: none;
      }
    }
  }

  .header-menu {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;

    li {
      a {
        display: block;
        color: $white;
        padding: .5rem 1rem;
        
        &:hover {
          color: $colour-light-blue;
        }
      }
    }
  }

  form {
    position: relative;

    input.form-control {
      font-family: $body-font-family;
      padding: 1rem;
      text-align: center;
      color: $colour-black;
    }

    button {
      border: none;
      background-color: transparent;
      position: absolute;
      right: 1rem;
      padding: 7px 1rem;
      z-index: 10;
      height: 100%;

      i, svg {
        font-size: 26px;
        color: $colour-semi-grey;
      }

      &:hover {
        i, svg {
          color: $colour-classic-blue;
        }

        transform: scale($global-img-zoom);
      }
    }
  }
}