@media (max-width: 1460px) {


}

@include media-breakpoint-down(lg) { //1200px


}

@include media-breakpoint-down(md) { //992px
  .view-patent-manual-of-practice-and-procedure {
    .col-md-6 {
      margin-bottom: 1rem;
    }
  }

}

@media (max-width: 768px) {


}

@include media-breakpoint-down(sm) { //768px
  #header {
    .site-logo {
      flex-direction: column;
      align-items: baseline;

      span {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }

}

@include media-breakpoint-down(xs) { //576px
  #header {
    .site-logo {
      img {
        height: 60px;
      }
    }
  }

}

@media only screen and (max-width: 480px) { //mobile only


}

@media only screen and (max-width: 370px) {


}