@media (max-width: 1460px) {


}

@include media-breakpoint-down(lg) { //1200px


}

@include media-breakpoint-down(md) { //992px
  .views-element-container {
    margin-left: -15px;
  }

  .view-patent-manual-of-practice-and-procedure {
    .col-md-3 {
      margin-bottom: 1rem;
    }
  }

}

@media (max-width: 768px) {


}

@include media-breakpoint-down(sm) { //768px
  #header {
    .site-logo {
      flex-direction: column;
      align-items: baseline;

      span {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }

  #mobile-menu-button .label {
    display: none;
  }

}

@include media-breakpoint-down(xs) { //576px
  #header {
    .site-logo {
      img {
        height: 60px;
      }

      span {
        font-size: $med-font-size;
      }
    }
  }

  form .form-row > fieldset {
    width: 100%;
  }

}

@media only screen and (max-width: 480px) { //mobile only


}

@media only screen and (max-width: 370px) {


}