<h1 class="mb-5">{{ page_title }}</h1>
<div class="alert alert-warning py-3 my-3" role="alert">
  This pas has been archived.
  <p>If you would like to submit feedback, please <a href="https://www.ipaustralia.gov.au/about-us/contact-us" target="_blank">contact us</a>.</p>
</div>
