<footer id="footer">
<div class="container">
<p>This document is controlled. Its accuracy can only be guaranteed when viewed. electronically.</p>
</div>
    <div class="container">
        <h2 class="block-title"><strong>IP Australia</strong> | Delivering a world leading IP system</h2>

        <ul class="menu nav">
            <li class="first leaf"><a href="/about-us">About Us</a></li>
            <li class="leaf"><a href="/about-us/contact-us">Contact us</a></li>
            <li class="leaf"><a href="/about-us/about-this-site">About this site</a></li>
            <li class="leaf"><a href="/about-us/about-this-site/disclaimer">Disclaimer</a></li>
            <li class="leaf"><a href="/about-us/about-this-site/accessibility">Accessibility</a></li>
            <li class="leaf"><a href="/about-us/about-this-site/copyright">Copyright</a></li>
            <li class="leaf"><a href="/about-us/agency-overview/privacy-policy">Privacy</a></li>
            <li class="last leaf"><a href="/beta">Beta - testing our ideas</a></li>
        </ul>
    </div>

    {{ page.footer_first }}
</footer>